.btn, .close {cursor: pointer;}
.th-btn {
    cursor: pointer;
    border-radius: 0.25rem;
    background: white;
    color: #2f2f2f;
    border: 1px solid #737373;
    padding: 0.25rem 0.5rem;
    transition: 0.25s;
}
.th-btn:hover {
    background: #f3f3f3;
}
.th-btn-primary {
    background: #3f78ab;
    border-color: #496379;
    color: white;
}
.th-btn-primary:hover {
    background: #376792;
    border-color: #152a3a;
}
.th-btn-secondary {
    background: lightgray;
}
#th_modal .modal-title {margin: 0;}
.modal-footer > .th-btn-secondary {
    margin-left: 0.5rem;
}
.th-form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    transition: 0.5s;
}
.th-form-group-error {
    background: #ffd9d9;
    border-radius: 0.25rem;
    border: 1px solid #ff2536;
}
.th-form-group input {
    flex: 1;
    max-width: 60%;
}
.th-form-error {
    flex: 0 0 100%;
    color: #f13838;
    text-align: center;
    padding: 0.25rem 0 0.5rem;
    display: none;
}
.th-form-group-error > .th-form-error {display: block;}
.th-calendar {
    width: 100%;
    background: white;
    border-radius: 1rem;
    padding: 0.5rem;
}
.th-calendar td {
    vertical-align: top;
}
.th-calenader--date {
    min-height: 96px;
    padding: 0.25rem;
}
.th-calendar--pill {
    display: flex;
    justify-content: space-between;
    background: #84b4ff70;
    margin-bottom: 0.25rem;
    padding: 0 0.1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    cursor: pointer;
}
.th-calendar--pill-booked {
    background: #84b4ff;
}
.th-calendar--northbound {
    background: #efbcc894;
}
.th-calendar--pill-booked.th-calendar--northbound {
    background: #efbcc8;
}
.th-calenader--current-day {
    background: #016087;
    color: white;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
}
.th-attendee-list {
    display: none;
}
.th-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.th-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.th-table td, .th-table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.th-table th, .th-table td {
    text-align: left;
}
/** Bootstrap 4 Styling */
.mr-2 {margin-right: 1rem;}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background: #0000005c;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.fade.show {
    opacity: 1;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    margin-top: 4rem !important;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-underlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 2rem auto;
    }
}